@import url("https://fonts.googleapis.com/css2?family=Inter&family=Josefin+Sans&display=swap");

:root {
  --templateColor1: #fbfafe;
  --templateColor2: #35414b;
  --templateColor3: #ffffff;
  --templateColor4: #794cff;
  --templateColor5: #343e45;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: var(--templateColor2);
  line-height: 1.5;
  position: relative;
  overflow-x: hidden;
}

.ellipse {
  position: absolute;
  width: 3128px;
  height: 3128px;
  left: -820px;
  top: -1940px;
  background: var(--templateColor1);
  border: 1px solid var(--templateColor1);
  border-radius: 50%;
  z-index: -200;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 40px;
}

h1,
h2 {
  font-weight: 600;
}
.logoCompany {
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
}

.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 15%;
  flex-wrap: nowrap;
}

.navMenuItems a {
  color: var(--templateColor2);
  margin: 0 15px;
}
.logoCompany {
  font-size: 24px;
}
.icon {
  font-size: 8px;
  margin: 2px;
}

.buttonLogIn {
  background: #ece6ff;
  padding: 15px;
}
.logIn a {
  margin: 0 10px;
  color: var(--templateColor4);
}
.burger,
.benefits {
  display: none;
}

.promo {
  padding: 20px;
  position: relative;
  margin: 20px;
}
.promo a {
  color: var(--templateColor2);
}

.promo a:first-child {
  background: #81c43b;
  color: var(--templateColor3);
  padding: 8px 10px;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 40%;
  z-index: 1;
}

.promo a:nth-child(2) {
  background: #f2f9eb;
  border-radius: 0px 100px 100px 0px;
  padding: 8px 8px 8px 25px;
  position: absolute;
  top: 0;
  left: 46%;
  z-index: -1;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about h1 {
  margin: 20px 0;
  width: 760px;
}

.about p {
  width: 520px;
  margin: 15px 0;
}

input {
  width: 320px;
  border: 1px solid #e1e5ea;
  padding: 18px 99px 18px 24px;
}

input::placeholder {
  color: #97a5b5;
  font-size: 16px;
}

.try {
  background: var(--templateColor4);
}

.try a {
  margin: 18px 45px;
  color: var(--templateColor3);
}

.tools {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px 30px;
  padding: 60px 15%;
}

.tools h2 {
  grid-column: 1 / 4;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.imgTool1,
.imgTool2,
.imgTool3,
.imgTool4,
.imgTool5,
.imgTool6 {
  display: flex;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  margin-bottom: 15px;
}

.imgTool1 {
  background: #fef6ee;
  color: #f49c4e;
}

.imgTool2 {
  background: #e8fafa;
  color: #23cec9;
}

.imgTool3 {
  background: #f7ebf9;
  color: #b84dc5;
}

.imgTool4 {
  background: #ffeff3;
  color: #f65d88;
}

.imgTool5 {
  background: #ede8f7;
  color: #5526b3;
}
.imgTool6 {
  background: #fef5ec;
  color: #f4a45d;
}
.tool p {
  margin: 15px 0;
}

.tool h3 {
  font-weight: bold;
  font-size: 18px;
  margin: 10px 0;
}

.withUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 18px;
  padding: 60px 15%;
}

.withUs h2 {
  margin: 0 25%;
}

.descr {
  margin: 30px 0;
  width: 50%;
}

.users,
.user {
  display: flex;
}

.userImg img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  margin: 15px;
}

.userInfo {
  text-align: left;
  margin: 0 10px;
}

.userInfo p:first-of-type {
  font-weight: bold;
}

.users {
  width: 100%;
  padding: 0 30px;
  justify-content: space-between;
}

.user {
  align-items: center;
  position: relative;
  padding: 15px 0;
  font-size: 16px;
}

.user::before,
.user::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}

.user:hover::before,
.user:hover::after {
  width: 100%;
  border: 4px solid var(--templateColor2);
}

footer {
  background: #1d2830;
  font-size: 14px;
  padding: 30px 0;
  border-top: 1px solid var(--templateColor5);
}

.footerContent {
  padding: 0 15%;
}

footer,
footer a {
  color: var(--templateColor3);
}

.reserved {
  display: flex;
  align-items: center;
}

.footerContent,
.social {
  display: flex;
  justify-content: space-between;
}

.socialIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--templateColor5);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin: 0 10px;
}

.socialIcon a {
  font-size: 17px;
}

@media screen and (max-width: 1200px) {
  .navMenuItems,
  .logIn,
  .promo a:first-child,
  .benefits,
  .user:nth-child(2) {
    display: none;
  }

  .navMenu {
    padding: 60px 8%;
  }

  .logoCompany {
    font-size: 24px;
  }

  .burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--templateColor2);
  }

  .burger {
    font-size: 8px;
  }

  .bars {
    font-size: 26px;
  }

  .bars i {
    color: var(--templateColor2);
  }

  .promo {
    display: flex;
    justify-content: center;
    position: static;
    padding: 20px;
    margin: 20px;
  }

  .promo a:nth-child(2) {
    position: static;
    border-radius: 100px;
    padding: 8px;
  }
  h1 {
    font-size: clamp(32px, 6vw, 64px);
  }

  .about h1 {
    width: 80%;
  }

  .try {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
  }

  .try a {
    display: block;
    margin: 18px 45px;
    color: var(--templateColor3);
  }

  input {
    width: 100%;
    padding: 18px;
  }

  input::placeholder,
  .tools,
  .withUs,
  .userInfo {
    text-align: center;
  }

  .tools {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 0;
    padding: 30px 15%;
    align-items: center;
  }

  .tools h2 {
    grid-column: 1 / 3;
  }

  .tool {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .withUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    padding: 60px 15%;
  }

  .withUs h2 {
    margin: 0;
  }

  .descr {
    width: 100%;
  }

  .user {
    align-items: center;
  }

  .ellipse {
    width: 1473px;
    height: 1473px;
    left: -200px;
    top: -400px;
  }
}

@media screen and (max-width: 700px) {
  .navMenuItems,
  .logIn,
  .promo a:first-child,
  .tool:nth-child(4),
  .tool:nth-child(5),
  .tool:nth-child(6),
  .user:nth-child(2),
  .user:nth-child(3),
  .social {
    display: none;
  }

  .navMenu {
    padding: 30px 8%;
  }

  .burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--templateColor2);
  }

  .burger {
    font-size: 8px;
  }

  .bars {
    font-size: 26px;
  }

  .bars i {
    color: var(--templateColor2);
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 18px;
  }

  .promo {
    display: flex;
    justify-content: center;
    position: static;
    padding: 20px;
    margin: 20px;
  }

  .promo a:nth-child(2) {
    position: static;
    border-radius: 100px;
    padding: 8px;
  }

  .try {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
  }

  .try a {
    display: block;
    margin: 18px 45px;
    color: var(--templateColor3);
  }

  input {
    width: 100%;
    padding: 18px;
  }

  input::placeholder,
  .tools,
  .withUs,
  .userInfo {
    text-align: center;
  }

  .about h1,
  .about p {
    width: 80%;
  }

  .tools {
    display: grid;
    grid-template-rows: 7fr;
    grid-template-columns: 1fr;
    grid-gap: 20px 0;
    padding: 30px 15%;
    align-items: center;
  }

  .tools h2 {
    grid-column: 1 / 2;
  }

  .tool {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .benefits {
    display: flex;
    background: #ece5ff;
    justify-content: center;
    height: 52px;
    border-radius: 5px;
  }

  .benefits a {
    width: 100%;
    color: #7259fa;
    margin: 15px 0;
  }

  .withUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    padding: 60px 15%;
  }

  .withUs h2 {
    margin: 0;
  }

  .descr {
    width: 100%;
  }

  .users {
    width: 100%;
    justify-content: center;
  }

  .user {
    align-items: center;
  }

  .ellipse {
    width: 1473px;
    height: 1473px;
    left: -480px;
    top: -760px;
  }
}
